.chartArea {
  width: 50%;
  height: 60%;
}

.inputRow {
  width: 40%;
}

.inputCol {
  padding: 10px;
}

.submitBtn {
  padding: 5px 25px;
}

@media screen and (max-width: 480px) {
  .chartArea {
    width: 100%;
    height: 200px;
  }

  .inputRow {
    width: 100%;
  }
  .inputCol {
    padding: 2px;
  }
}
